requests==2.27.1
scikit-image>=0.19.2
matplotlib >= 1.5.1
pandas~=1.4.1
sewar~=0.4.5
joblib==0.14.0
numpy~=1.17.4
scikit-learn
scipy~=1.8.0
tqdm==4.38.0
piq~=0.6.0
torch~=1.10.0
setuptools~=56.0.0
opencv-python~=4.5.4.58
torchvision~=0.11.1